{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in page %}
                <div class="book col-md-4">
                    <h3>{{ book.name }}</h3>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
                </div>
            {% endfor %}
        </div>

        {% if page.has_previous %}
            <a class="button button-primary" href="?page={{ page.previous_page_number }}">⟵ Назад</a>
        {% endif %}
        {% if page.has_other_pages %}
            <a class="button disabled" href="">{{ page.number }}</a>
        {% endif %}
        {% if page.has_next %}
            <a class="button button-primary" href="?page={{ page.next_page_number }}">Вперед ⟶</a>
        {% endif %}

        {% if date_before %}
            <a class="button button-primary" href="/books/{{ date_before|date:'Y-m-d' }}">< {{ date_before|date:"Y-m-d" }}</a>
        {% endif %}
        {% if date_after %}
            <a class="button button-primary" href="/books/{{ date_after|date:'Y-m-d' }}">{{ date_after|date:"Y-m-d" }} ></a>
        {% endif %}

    </div>
{% endblock %}